<div class="ui container">
	<sm-segment class="raised">
		<sm-button class="green" (click)="protected()">Create walk</sm-button>
		<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
			<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
			<sebm-google-map-polyline>
         <sebm-google-map-polyline-point [latitude]="lat" [longitude]="lng">
         </sebm-google-map-polyline-point>
         <sebm-google-map-polyline-point [latitude]="latB" [longitude]="lngB">
         </sebm-google-map-polyline-point>
     </sebm-google-map-polyline>
		</sebm-google-map>
		<sm-message class="negative" *ngIf="error">
			<message-content>{{error}}</message-content>
		</sm-message>

<pre>
{{ response | json}}
</pre>
	</sm-segment>
</div>

<profile></profile>