<div class="ui container">
    <nav class="ui menu inverted teal huge">
        <a routerLink="home" class="item">Home</a>

        <nav class="menu right">
            <a class="bottom attached fluid primary" (click)="signup()" class="item">About</a>
            <a (click)="myPopup.show($event, {position: 'right center'})" class="item"><span *ngIf="!isLogged">Login</span><span *ngIf="isLogged">Account</span></a>
        </nav>
    </nav>

    <sm-popup class="huge" #myPopup>
        <sm-card class="card basic">
            <card-title>
                <span *ngIf="!isLogged">Login</span>
                <span *ngIf="isLogged"> Account information</span>
            </card-title>
            <card-subtitle>  </card-subtitle>
            <card-content>
                <div *ngIf="!isLogged">
                    <div class="ui field input right icon">
                    <input type="text" [(ngModel)]="user.name">
                    <i class="user icon"></i>
                    </div>
                    <div class="ui field input right icon">
                    <input type="password" [(ngModel)]="user.password">
                    <i class="user icon"></i>
                    </div>
                </div>
                <div *ngIf="isLogged">
                    <p> Welcome {{user.name}}<p>
                    <p> Your current points {{user.points}}</p>
                </div>
            </card-content>
            <sm-button class="bottom attached fluid primary" *ngIf="!isLogged" (click)="login()">Login</sm-button>
            <sm-button class="bottom attached fluid red" *ngIf="isLogged" (click)="logout()">Logout</sm-button>
        </sm-card>
    </sm-popup>


    <hello [name]="appName"></hello>

    <div class="ui divider"></div>

    <router-outlet></router-outlet>


</div>
